@if (Model.ExibitSection != null)
{
    @foreach (var i in Model.ExibitSection)
    {
        @if (i.CategoryItem != null && i.CategoryItem.Count > 0)
        {
                        <div class="pb-20">
                            <h1 class="mb-10">@i.CategoryName</h1>
                            <p>@i.CategoryDescription</p>
                            <div class="row">
                                <div class="active-exibition-carusel">
                        @foreach (var j in i.CategoryItem)
                        {
                                            <div class="single-exibition item">
                                                <img width="200" height="400" src="@j.ImageUrl" alt="">
                                                <ul class="tags">
                                                    <li><a href="#">Travel</a></li>
                                                    <li><a href="#">Life style</a></li>
                                                </ul>
                                                <a href="/GalleryObject?Object_ID=@j.Object_ID">
                                                    <h4>@j.Title</h4>
                                                </a>
                                                <p>@j.Description</p>
                                                <h6 class="date">@j.Date</h6>
                                            </div>
                        }
                                </div>
                            </div>
                        </div>
        }
    }
}
